<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Sk8rings</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <svg id="clip-svg">
        <defs>
            <clipPath id="swipe__clip-path" clipPathUnits="objectBoundingBox">
                <polygon points="0 0.2, 1 0, 1 0.8, 0 1" />
            </clipPath>
        </defs>
    </svg>
    <svg class="clip-svg1">
        <defs>
            <clipPath id="swipe__clip-path1" clipPathUnits="objectBoundingBox">
                <polygon points="0 0, 1 0.2, 1 1, 0 0.8" />
            </clipPath>
        </defs>
    </svg>
    <svg class="clip-svg2">
        <defs>
            <clipPath id="swipe__clip-path2" clipPathUnits="objectBoundingBox">
                <polygon points="0 0.2, 1 0, 1 1, 0 0.8" />

            </clipPath>
        </defs>
    </svg>
    <svg class="clip-svg3">
        <defs>
            <clipPath id="swipe__clip-path3" clipPathUnits="objectBoundingBox">
                <polygon points="0 0, 1 0.2, 1 0.8, 0 1" />
            </clipPath>
        </defs>
    </svg>
    <div class="container">
        <div id="header" class="row header">
            <div class="header-logo col-md-4 col-sm-12">
                <img class="logo" src="images/logo.png">
            </div>
            <div class="col-md-8 text-right">
                <ul class="list-inline navbar">
                    <li>
                        <a href="#about"> ABOUT </a>
                    </li>
                    <li>
                        <a href="#feautures">  FEAUTURES </a>
                    </li>
                    <li>
                        <a href="#contact-us">  CONTACT US </a>
                    </li>
                    <li>
                        <a href="#gallery">  GALLERY </a>
                    </li>
                    <li class="navbarshopnow">
                        <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS">  SHOP NOW </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title"> Sweet, Custom and Handmade! </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="subtitle"> Coolest accessories ever made from recycled skateboards. </h2>
            </div>
        </div>
        <div class="row undertitle">
            <div  class="box-header  clip-this1">
            </div>
            <div class="col-md-12 text-center">
                <figure class="cd-image-container">
                    <img class="header-slider-size guzica" src="images/deck.png" alt="Original Image">
                    <span class="cd-image-label" data-type="original"></span>

                    <div class="cd-resize-img">
                        <!-- the resizable image on top -->
                        <img class="header-slider-size" src="images/glasses.png" alt="Modified Image">
                        <span class="cd-image-label" data-type="modified"></span>
                    </div>

                    <span class="cd-handle"></span>
                </figure>
                <!-- cd-image-container -->
            </div>
        </div>


    </div>

    <div class="margin-top-container container-fluid">
        <div id="feautures" class="row">
            <div class="box1 full-height clip-this">
            </div>
            <div class="left-margin-text-box col-md-5 col-md-offset-1">
                <h3 class="box-text-title1 text-left"> Sunglasses just for you! </h3>
                <h5 class="box-text-subtitle"> When the sun is shining too brightly,<br> custom sunglasses will keep your eyes in the shade. <br>Each pair
                    is made especially for you.<br> Enjoy a walk on the beach,<br> a hike with beautiful views or
                    <br>outdoor sports events without squinting!</h5>
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS">
                    <h4 class="buy-now-box text-center"> Buy now </h4>
                </a>

            </div>
            <div class="col-md-5 text-right">
                <img id="photo1" src="images/photo1.png" alt="photo1">
            </div>
        </div>

        <div id="feautures2" class="row">
            <div class="box2 clip-this1 full-height">
            </div>
            <div class="col-sm-5 text-left">
                <img id="glasses2" src="images/glasses2.png" alt="glasses">
            </div>
            <div class="col-sm-5 col-md-offset-1 text-right right-margin-text-box ">
                <h3 class="box-text-title2 "> Attention to details! </h3>
                <h5 class="box-text-subtitle"> We believe that wooden eyewear<br> is not a luxury item, <br> but an artifact that comes from good technique,
                    <br> attention to detail, <br> and care for the material and the final outcome. <br> It’s something that
                    everyone should enjoy wearing.</h5>
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS">
                    <h4 class="buy-now-box-rightside text-center"> Buy now </h4>
                </a>
            </div>
        </div>

        <div id="feautures2" class="row">
            <div class="box3 clip-this full-height">
            </div>
            <img id="guitar" src="images/guitar.png" alt="guitar">
            <div class="left-margin-text-box col-md-5 col-md-offset-1">
                <h3 class="box-text-title3 text-left"> Old skateboards <br> make music now! </h3>
                <h5 class="box-text-subtitle"> This handmade guitar is more of an<br> art piece than an actual musical instrument <br>(although it does
                    serve the purpose<br> of jamming out, too). </h5>
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS?section_id=18513804">
                    <h4 class="buy-now-box text-center"> Buy now </h4>
                </a>
            </div>

        </div>

        <div class="row  clip-this1 box4 full-height">
            <div class="col-md-12 text-center">
                <h3 class="shop-and-contact-show-text"> And so much more we can offer </h3>
            </div>
            <div class="shop-margin text-center col-md-2  col-sm-4 col-md-offset-1">
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS?section_id=18513804"> <img class="guitar-part" src="images/guitarpart.png"> </a>
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS?section_id=18513804">
                    <h3 class="shop-item-text"> Guitars </h3>
                </a>
                <h4 class="shop-price"> from 467.39 </h4>
            </div>
            <div class="shop-margin text-center col-md-2 col-sm-4  col-md-offset-1">
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS?section_id=16851440"> <img src="images/ring.png"> </a>
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS?section_id=16851440">
                    <h3 class="shop-item-text"> Rings </h3>
                </a>
                <h4 class="shop-price"> from 10.87 </h4>
            </div>
            <div class="shop-margin text-center col-md-3 col-sm-4">
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS?section_id=18492629"> <img src="images/guitarpart2.png"> </a>
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS?section_id=18492629">
                    <h3 class="shop-item-text"> Guitar knobs</h3>
                </a>
                <h4 class="shop-price"> from 8.70 </h4>
            </div>
            <div class="shop-margin text-center col-md-2">
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS?section_id=13508489"> <img class="guitar-part2" src="images/neckless.png"> </a>
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS?section_id=13508489">
                    <h3 class="shop-item-text"> Necklaces </h3>
                </a>
                <h4 class="shop-price"> from 20.65 </h4>
            </div>
        </div>
        <div id="gallery" class="row">
            <div class="full-height gallery clip-this3">
            </div>
            <div id="slider" class="text-center col-md-10 col-md-offset-1">
                <div id="carousel-bounding-box">
                    <div class="carousel slide" id="myCarousel">
                        <div class="carousel-inner">
                            <div class="active item" data-slide-number="0">
                                <img src="images/carousel1-min.jpg"></div>

                            <div class="item" data-slide-number="1">
                                <img src="images/carousel2-min.jpg"></div>

                            <div class="item" data-slide-number="2">
                                <img src="images/carousel3-min.jpg"></div>

                            <div class="item" data-slide-number="3">
                                <img src="images/carousel4-min.jpg"></div>

                            <div class="item" data-slide-number="4">
                                <img src="images/carousel5-min.jpg"></div>

                            <div class="item" data-slide-number="5">
                                <img src="images/carousel6-min.jpg"></div>

                            <div class="item" data-slide-number="6">
                                <img src="images/carousel7-min.jpg"></div>

                            <div class="item" data-slide-number="7">
                                <img src="images/carousel8-min.jpg"></div>

                            <div class="item" data-slide-number="8">
                                <img src="images/carousel9-min.jpg"></div>

                            <div class="item" data-slide-number="9">
                                <img src="images/carousel10-min.jpg"></div>

                            <div class="item" data-slide-number="10">
                                <img src="images/carousel11-min.jpg"></div>

                            <div class="item" data-slide-number="11">
                                <img src="images/carousel12-min.jpg"></div>

                            <div class="item" data-slide-number="12">
                                <img src="images/carousel13-min.jpg"></div>

                            <div class="item" data-slide-number="13">
                                <img src="images/carousel14-min.jpg"></div>

                            <div class="item" data-slide-number="14">
                                <img src="images/carousel15-min.jpg"></div>

                            <div class="item" data-slide-number="15">
                                <img src="images/carousel15-min.jpg"></div>

                            <div class="item" data-slide-number="16">
                                <img src="images/carousel17-min.jpg"></div>

                            <div class="item" data-slide-number="17">
                                <img src="images/carousel18-min.jpg"></div>

                            <div class="item" data-slide-number="18">
                                <img src="images/carousel19-min.jpg"></div>

                            <div class="item" data-slide-number="19">
                                <img src="images/carousel20-min.jpg"></div>

                            <div class="item" data-slide-number="20">
                                <img src="images/carousel21-min.jpg"></div>

                            <div class="item" data-slide-number="21">
                                <img src="images/carousel22-min.jpg"></div>

                            <div class="item" data-slide-number="22">
                                <img src="images/carousel23-min.jpg"></div>

                            <div class="item" data-slide-number="23">
                                <img src="images/carousel24-min.jpg"></div>

                            <div class="item" data-slide-number="24">
                                <img src="images/carousel25-min.jpg"></div>

                            <div class="item" data-slide-number="25">
                                <img src="images/carousel26-min.jpg"></div>

                            <div class="item" data-slide-number="26">
                                <img src="images/carousel27-min.jpg"></div>

                            <div class="item" data-slide-number="27">
                                <img src="images/carousel28-min.jpg"></div>

                            <div class="item" data-slide-number="28">
                                <img src="images/carousel29-min.jpg"></div>

                            <div class="item" data-slide-number="29">
                                <img src="images/carousel30-min.jpg"></div>

                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1" id="slider-thumbs">
                <ul class="hide-bullets">
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-0">
                            <img src="images/min-carousel1.jpg">
                        </a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-1"><img src="images/min-carousel2.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-2"><img src="images/min-carousel3.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-3"><img src="images/min-carousel4.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-4"><img src="images/min-carousel5.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-5"><img src="images/min-carousel6.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-6"><img src="images/min-carousel7.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-7"><img src="images/min-carousel8.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-8"><img src="images/min-carousel9.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-9"><img src="images/min-carousel10.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-10"><img src="images/min-carousel11.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-11"><img src="images/min-carousel12.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-12"><img src="images/min-carousel13.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-13"><img src="images/min-carousel14.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-14"><img src="images/min-carousel15.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-15"><img src="images/min-carousel16.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-16"><img src="images/min-carousel17.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-17"><img src="images/min-carousel18.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-18"><img src="images/min-carousel19.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-19"><img src="images/min-carousel20.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-20"><img src="images/min-carousel21.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-21"><img src="images/min-carousel22.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-22"><img src="images/min-carousel23.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-23"><img src="images/min-carousel24.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-24"><img src="images/min-carousel25.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-25"><img src="images/min-carousel26.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-26"><img src="images/min-carousel27.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-27"><img src="images/min-carousel28.jpg"></a>
                    </li>
                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-28"><img src="images/min-carousel29.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                        <a class="thumbnail" id="carousel-selector-29"><img src="images/min-carousel30.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="feautures1" class="row">
            <div class="box-workshop clip-this1 full-height">
                <div class="col-md-6">
                    <div class="col-md-10 workshop-text1 col-md-offset-1">
                        <h2> The story of workshop </h2>
                    </div>
                    <div class="col-md-10 workshop-text2 col-md-offset-1">
                        <h4> Concave from skateboard deck is used for making every single pair of Sk8rings sunglasses.<br> Curvature
                            of nose and tail are used for temples.<br> First, we cut the shape of sunglasses, there are several
                            models, male and female. Each frame is hand-sanded to the finest detail.</br> The same is done
                            with temples. For temples and frame we used to choose best fit in variety of colors and patterns.</br>
                            Varnishing is the final step and we do it in several steps. </h4>
                    </div>
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
        </div>



        <div id="contact-us" class="row clip-this4 contact-us full-height">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h3 class="shop-and-contact-show-text contact-us-text"> Contact us </h3>
                <form action="/contact" method="POST" name="contactForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" required>
                    </div>
                    <div class="form-group">
                        <label for="text">Message</label>
                        <textarea name="text" class="form-control" rows="4" id="text" required></textarea>
                    </div>

                    <button type="submit" id="button" class="btn">Send Message!</button>
                </form>
            </div>
        </div>
    </div>



    </div>
    <div class="container-fluid ">

        <div id="about" class="row about ">
            <div class="col-md-12 text-center">
                <a target="_blank" href="https://www.etsy.com/shop/SK8RINGS">
                    <h3 class="visitstore"> Visit Store </h3>
                </a>
            </div>
            <div class="col-md-6 col-md-offset-3 text-center ">
                <h4 class="footer-text "> SK8RINGS is a Serbian brand that produces sunglasses and jewelry from broken and used skateboard decks. Riding
                    skateboard over 10 years and the whole skate culture gave an idea for recycling. The solution is primarily
                    ecological and fashionable. Sunglasses, rings, bracelets, earrings and all other stuff are handmade and
                    represents a unique products. Almost there are no two same products, with identical colors and shape.
                </h4>
            </div>
            <div class=" col-sm-4 text-right">
                <a target="_blank" href="https://www.instagram.com/sk8rings/"><img class="instagram  facebook-instagram" src="images/instagram.png "></a>
            </div>
            <div class="footer col-sm-4 text-center ">
                <a href="#header"> <img class="footer-logo " src="images/footer-logo.png "> </a>
            </div>
            <div class="col-sm-4 text-left">
                <a target="_blank" href="https://www.facebook.com/Sk8rings/?fref=ts"><img class="facebook facebook-instagram" src="images/facebook.png "></a>
            </div>
        </div>

    </div>

    <script src="/js/jquery.min.js "></script>
    <script src="/js/bootstrap.min.js "></script>
    <script src="scripts/main.js "></script>



</body>

</html>